<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/icons/etn.png" />
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div align="center">
        <ion-label>
          <ion-note color="light" class="ion-margin-middle">
            Wallet Balance
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap">
                {{wallet.balance}} ETN
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal">
      <ion-col *ngFor="let item of features" size="4">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail [style.background]="item?.background">
                <img [src]="item?.src" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">{{ item?.name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>
        <ion-label>RECENT TRANSACTIONS</ion-label>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let item of transactions; let i = index">
        <ion-icon slot="start" name="cash" color="primary"></ion-icon>
        <ion-label size="large" class="ion-text-wrap" >
          <b>{{ getTransactionType(transactions[i].paymentType) }}</b>
          <p>
            {{ transactions[i].dateCreated }}
          </p>
        </ion-label>
        <ion-text slot="end" >{{ transactions[i].destinationAmount }} ETN</ion-text>
        <p>
          {{ getTransactionStatus(transactions[i].status) }}
        </p>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>
